@font-face {
  font-family: 'loncom';
  src:
    url('fonts/loncom.ttf?kmh7f4') format('truetype'),
    url('fonts/loncom.woff?kmh7f4') format('woff'),
    url('fonts/loncom.svg?kmh7f4#loncom') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
    font-family:'AlibabaPuHuiTiB';
    src: url(./fonts/Alibaba-PuHuiTi-Bold.ttf);
}
@font-face {
    font-family:'AlibabaPuHuiTiR';
    src: url(./fonts/Alibaba-PuHuiTi-Regular.ttf);
}
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'loncom' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-statement:before {
  content: "\e900";
  color: #8497ca;
}
.icon-alarm:before {
  content: "\e901";
  color: #8497ca;
}
.icon-rack:before {
  content: "\e902";
  color: #8497ca;
}
.icon-monitor:before {
  content: "\e903";
  color: #8497ca;
}
.icon-access:before {
  content: "\e904";
  color: #8497ca;
}
.icon-energy:before {
  content: "\e905";
  color: #8497ca;
}
.icon-video:before {
  content: "\e906";
  color: #8497ca;
}
.icon-assert:before {
  content: "\e907";
  color: #8497ca;
}
.icon-system:before {
  content: "\e908";
  color: #8497ca;
}
.icon-screen:before {
  content: "\e909";
  color: #8b9ed4;
}
.icon-skin:before {
  content: "\e90a";
  color: #8b9ed4;
}
.icon-acousto:before {
  content: "\e90b";
  color: #8b9ed4;
}
