<div class="content">
	34344334
	<div style="width: 1000px;height:200px;background:#ccc;" id="wendu"></div>
</div>
<style>
	.content{
		color: #f00;
	}
</style>
<script>
	document.getElementById("wendu").onclick=function(){
		console.log(131321)
	}
	var wendu_hf_value=[];
	var wendu_sf_value=[];
	var wendu_name=[];
	
	var shidu_hf_value=[];
	var shidu_sf_value=[];
	var shidu_name=[];
	
	var wendu_hf=[
		"wd_jigui01_hf","wd_jigui02_hf","wd_jigui03_hf","wd_jigui04_hf","wd_jigui05_hf","wd_jigui06_hf","wd_jigui07_hf",
		"wd_jigui08_hf","wd_jigui09_hf","wd_jigui10_hf","wd_jigui11_hf","wd_jigui12_hf","wd_jigui13_hf","wd_jigui14_hf"];
	var wendu_sf=[
		"wd_jigui01_sf","wd_jigui02_sf","wd_jigui03_sf","wd_jigui04_sf","wd_jigui05_sf","wd_jigui06_sf","wd_jigui07_sf",
		"wd_jigui08_sf","wd_jigui09_sf","wd_jigui10_sf","wd_jigui11_sf","wd_jigui12_sf","wd_jigui13_sf","wd_jigui14_sf"];
	var shidu_hf=[
		"sd_jigui01_hf","sd_jigui02_hf","sd_jigui03_hf","sd_jigui04_hf","sd_jigui05_hf","sd_jigui06_hf","sd_jigui07_hf",
		"sd_jigui08_hf","sd_jigui09_hf","sd_jigui10_hf","sd_jigui11_hf","sd_jigui12_hf","sd_jigui13_hf","sd_jigui14_hf"];
	var shidu_sf=[
		"wd_jigui01_sf","wd_jigui02_sf","wd_jigui03_sf","wd_jigui04_sf","wd_jigui05_sf","wd_jigui06_sf","wd_jigui07_sf",
		"wd_jigui08_sf","wd_jigui09_sf","wd_jigui10_sf","wd_jigui11_sf","wd_jigui12_sf","wd_jigui13_sf","wd_jigui14_sf"];
	
	hbarChar("wendu");
  //横向柱状 设备告警top
  function hbarChar(ID,xData1,xData2,lend){
      var xData1=[15,44,34,15,34,22,31],xData2=[12,11,19,33,21,51,22];
      var lend=['机柜A01','机柜A02','机柜A03','机柜A04','机柜A05','机柜A06','机柜A07'];
      var myChart = echarts.init(document.getElementById(ID));
      var option = {
          color:["#0077E9","#29BBCE"],
          title:{
              text:"温度(℃)",  
              left:'15px',
              top: 15,
              textStyle:{
                  color:"#fff",
                  fontSize:'12'
              },
          },
          tooltip : {
              trigger: 'axis',
              axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                  type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
              } 
          },
          legend: {
              type:'plain',
              top:'10px',
              right:'20px',
              textStyle:{
                  color:"#fff",
              },
              data: ['送风', '回风']
          },
          grid: {
              top:"50px",
              left:'20px',
              right:'30px',
              bottom: '15px',
              containLabel: true
          },
          xAxis:  {
              type: 'category',
              axisLine:{
                  lineStyle:{
                      color:"#14244B",
                      width:1,
                  }
              },
              splitLine:{
                  show:false,
              },
              axisTick:{
                  show:false
              },
              axisLabel:{
                  color:"#fff"
              },
              data: lend,
          },
          yAxis: {
              type: 'value',
              axisLine:{
                  lineStyle:{
                      color:"#14244B",
                      width:1,
                  }
              },
              axisTick:{
                  show:false
              },
              splitLine:{
                  show:true,
                  lineStyle:{
                      color:"#14244B",
                      width:1,
                      type:"dashed",
                  }
              },
              axisLabel:{
                  color:"#fff"
              },
              
          },
          series: [
              {
                  name: '送风',
                  type: 'bar',
                  barWidth: '20%',
                  data: xData1
              },
              {
                  name: '回风',
                  type: 'bar',
                  barWidth: '20%',
                  data: xData2
              }
          ]
      };
      myChart.setOption(option, true);
      return myChart; 
  }        

</script>