* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #EFF1F6;
}
.content ,.scrollbar {
    width: 100%;
    height: 100%;
}
.bgfffcontent{
    width: 100%;
    height: 100%;
    background: #fff;
}
.prelative{
    position: relative;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.pd20{
    padding: 20px;
}
.ml10{
    margin-left: 10px;
}
.pdlr20{
    padding: 0 20px 0 20px;
}
.pt20{
    padding-top: 20px;
}
.pb20{
    padding-bottom: 20px;
}
em{
    font-style: normal;
}
.mb20{
    margin-bottom: 20px;
}
.color-mg20{
    width: 100%;
    height: 20px;
    background: #EFF1F6;
}

/**侧边导航**/
.loncom_sidebar {
    height: 100%;
    display: block;
    background: #1B212C;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 999;
    float: left;
    .loncom_sidebar_top {
        width: 100%;
        height: 64px;
        padding: 15px;
        position: relative;
        background: #13171F;
        div, a {
            width: 100%;
            height: 100%;
            img{
                height: 100%;
            }
        }
        .loncom_navbtn {
            position: absolute;
            right: -60px;
            width: 40px;
            height: 40px;
            border-right: 1px solid #ddd;
            transition: all 0.2s ease-in;
            cursor: pointer;
            color: #20436b;
            line-height: 40px;
            display: block;
            top: 10px;
            img {
                vertical-align: middle;
            }
        }
    }
    .loncom_sidebar_list{
        width: 100%;
        height: calc(100% - 64px);
        li {
            width: 100%;
            color: #8F9BC0;
            border-bottom: 1px solid #1B212C;
            a{
                display: block;
                height: auto;
                position: relative;
                width: 100%;
                color: #8F9BC0;
            }
            .loncom_nav {
                width: 100%;
                height: 60px;
                line-height: 16px;
                font-size: 14px;
                position: relative;
                display: flex;
                cursor: pointer;
                transition: all 0.4s ease-in;
                .loncom_nav_con{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                }
                a{
                    width: 100%;
                    height: 100%;
                }
                a.router-link-active{
                    background: #4A78FF;
                    color: #fff;
                    transition: all 0.4s ease-in;
                }
                .router-link-exact-active{
                    .aem{
                        background: #4A78FF;
                    }
                }
                .aem{
                    height: 60px;
                    width: 60px;
                    display: block;
                    float: left;
                    overflow: hidden;
                    padding: 22px;
                    position: relative;
                    z-index: 9;
                    background: #1b212c;
                    img{
                        max-width:16px;
                        max-height: 16px;
                    }
                }
                .loncom_menu{
                    width: 190px;
                    padding: 22px 0;
                    display: block; 
                    overflow: hidden;    
                    position: absolute;
                    right: 0;
                    z-index: 1;        
                    i{
                        float: right;
                        margin: 0 10px 0 0;
                    }
                }
            }
            .loncom_morenav {
                width: 100%;
                max-height: 0;
                overflow: hidden;
                font-size: 14px;
                top: 0;
                background: #000C17;
                transition: all .5s ease;
                &.active{
                    max-height: 500px;
                }
                dd {
                    height: 40px;
                    line-height: 40px;
                    overflow: hidden;
                    a{
                        padding-left: 60px;
                        display: block;
                    }
                    a.router-link-active,
                    a:hover{
                        background: #4A78FF;
                        color: #fff;
                    }
                }
            }
        }
        .closeactive{
            li:hover{
                a{
                    background: #4A78FF;
                    color: #fff;
                    transition: all 0.4s ease-in;
                }
            }
        }
    } 
}
.loncom_sidebar_right{
    width: 100%;
    height: 100%;
    .loncom_right_top{
        width: 100%;
        height: 64px;
        padding-right: 20px;
        border-bottom: 1px solid #E9E9E9;
        display: flex;
        flex-flow: row-reverse;
        background: #fff;
        .loncom_right_top_box{
            display: table;
            height: 100%;
            .box_con{
                display: table-cell;
                vertical-align: middle;
                padding: 0 20px;
                .el-icon-bell{
                    font-size: 30px;
                    color: #727272;
                }
                .box_con_me{
                    line-height: 30px;
                    display: flex;
                    img{
                        height: 30px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                }
                
            }
        }
    }
    .loncom_content{
        width: 100%;
        height: calc(100% - 65px);
        padding: 0 20px;
    }
}

.breadcrumb{
    width: 100%;
    height: 50px;
    padding: 17px 0;
    background: #EFF1F6;
}
.public_content{
    width: 100%;
    height: calc(100% - 50px);
    .table_search{
        max-height: 50px;
        overflow: hidden;
        transition: all 0.4s ease-in;
        &.active{
            max-height: 500px;
        }
    }
    .table_handle{
        color: #4A78FF;
        margin: 5px 0;
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        span{
            padding: 0 6px;
            cursor: pointer;
            border-right: 1px solid #D7DFE9;
        }
        span:nth-last-of-type(1){
            border: none;
        }
    }
    .table_btn{
        margin-bottom: 20px;
    }
    .table_hint{
        border: 1px solid #078FEA;
        background: #E6F7FF;
        padding: 8px 12px;
        vertical-align: middle;
        color: #078FEA;
        font-size: 14px;
        border-radius: 5px;
        span{
            color: #51575A;
        }
        em{
            color: #078FEA;
            margin: 0 5px;
        }
    }
    .lc-data-con{
        text-align: center;
        margin: 20px 0;
        border-right: 1px solid #e9e9e9;
        .lc-data-value{
            font-size: 24px;
            margin-top: 10px;
        }
        &.last-con{
            border-right: none;
        }
    }
    .card_title{
        height: 50px;
        line-height: 40px;
    }
}
.public_addcontent{
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
}
.public_addbtn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    padding: 0 20px;
    text-align: right;
}

@import './black/basic.less';
@import './default/basic.less';