
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app,
.content {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "AlibabaPuHuiTiR,Microsoft YaHei,sans-serif";
}
.scrollbar{
    width: 100%;
    height: 100%;
}
.scrollbar .el-scrollbar{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scrollbar .el-scrollbar__wrap { //给外层class不然element组件自己的会有问题比如下拉选项
    overflow-x: hidden !important;
}
.scrollbar .el-scrollbar__view{
    height: 100%;
    min-height: 100%;
}
.el-dropdown-menu--small .el-dropdown-menu__item{
    padding: 0;
    span{
        padding: 0 15px;
    }
}
.el-form--label-top .el-form-item__label{
    padding: 0;
}
.el-range-input{
    background: transparent;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
em,i{
    font-style: normal;
}
.cursor-pointer{
    cursor: pointer;
}