
@width:500px;
.black_theme{
    // @color:#045a5a;
    // @bg:#09c;
    .module-theme(
        @color:#045a5a,
        @bg:#09c    
    );
}
.default_theme{
    // @color:#ff0000;
    // @bg:#ffd640;
    .module-theme(
        @color:#ff0000,
        @bg:#ffd640
    );
}
.module-theme(@color,@bg){}