.loncom_content{
    position: relative;
}
.loncom-box-con{
    width: 100%;
    height: 100%;
}
.side-alarm{
    width: 280px;
    height: calc(100% - 70px);
    position: absolute;
    right: -300px;
    transition: All 0.4s ease-in-out;
    bottom: 0;
    color: #C0CFF5;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%,rgba(0, 13, 69, 0.8) 100%);
}
.side-alarm-box{
    padding: 15px;
    border-bottom: 1px solid #101B4A;
}
.side-alarm-box-top{
    display: flex;
    justify-content: space-between;
}
.side-alarm-box-top .title{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: calc(100% - 35px);
}
.side-alarm-box-top .title .img{
    margin-right: 5px;
}
.side-alarm-box-top .sure{
    color: #0086FF;
    width: 35px;
    text-align: right;
}
.side-alarm-content{
    color: #8499C0;
    margin: 10px 0 5px 0;
}
.side-alrm-time{
    color: #8499C0;
}
.loncom-pdlr20{
  padding: 0 20px 0 20px;
}
.loncom-pd20{
  padding: 20px;
}
.loncom-index-body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/homebg.png) no-repeat center 100px;
    background-size: contain;
}
.header{
    width: 100%;
    height: 80px;
    background: #000D46;
}
.header .header-con {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.header .row-side{
    width: calc(50% - 250px);
    padding-right: 50px;
}
.header .row-side .wk-xz{
    height:60px;
    width: 100%;
    background: #072567; 
    position:relative;
    border-bottom: 1px solid #103c86;
}
.header .row-side .wk-xz a.header-home{
	display:block;
	padding:8px 0 0 15px;
}
.header .row-side .wk-xz .wk-sj-right{
    position: absolute;
    top: 0;
    right: -23px;
    border-top: 37px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid #072567;
}
.header .row-side .wk-xz .wk-sj-right:before{
    content: "";
    width: 47px;
    height: 1px;
    position: absolute;
    right: -11px;
    top: -20px;
    background: #103c86;
    transform: rotate(57deg);
}
.header .row-side .wk-xz .wk-sj-right:after{
    content: "";
    width: 34px;
    height: 1px;
    position: absolute;
    right: -4px;
    bottom: -12px;
    background: #103c86;
    transform: rotate(-44deg);
}
.header .row-side .wk-xz .wk-sbx{
    width: 70px;
    height: 8px;
    position: absolute;
    right: -50px;
    top: 2px;
    background: #072567;
    transform: rotate(54deg) skew(-35deg); 
}
.header .row-side .wk-xz .wk-tix{
    position: absolute;
    bottom: 0px;
    right: -78px;
    width: 68px;
    height: 0;
    border-bottom: 20px solid #072567;
    border-left: 18px solid transparent;
    border-right: 15px solid transparent;
}
.header .row-side .wk-xz ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    
}
.header .row-side .wk-xz ul li{
    float: left;
    margin:15px 0 0 45px;
    cursor: pointer;
}
.header .row-side .wk-xz ul li img{
    width: 30px;
}


.header .row-cen{
    width: 500px;
    height: 100%;
    overflow: hidden; 
}
.header .row-cen .title{
    width:calc(100% - 100px);
    margin:0 auto;
    height:100%;
    line-height: 76px;
    text-align: center;
    background: #072567;
    position: relative;
}
.header .row-cen .title .title-con{
    color:#E3F0FF;
    font-size:28px;
    display: block;
    height:100%;
    width:100%;
}
.header .row-cen .title .title-bg{
    display: block;
    width: 60%;
    left: 20%;
    height: 4px;
    bottom: 0;
    position: relative;
    bottom: -1px;
    box-shadow: 0 0 24px #ffffff, inset -0.25rem 0 0 0.5rem rgba(14, 10, 10, 0.1);
}
.header .row-cen .title .title-con:before{
    content:"";
    width: 51%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: linear-gradient(to left, #4170F9, #0C3C7F);
}
.header .row-cen .title .title-con:after{
    content:"";
    width: 51%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: linear-gradient(to right, #4170F9, #0C3C7F);
}
.header .row-cen .title .title-left{
    height: 0;
    position: absolute;
    left: -52px;
    top: 0;
    width: 0;
    border-top: 80px solid #072567;
    border-left: 52px solid transparent;
}
.header .row-cen .title .title-left:before{
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    background: #3469BA;
    z-index: 99;
    bottom: 0;
    right: -20px;
}
.header .row-cen .title .title-left:after{
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #3469BA;
    z-index: 99;
    bottom: 0;
    right: -19px;
    transform: rotate(54deg);
}
.header .row-cen .title .title-right{
    height:0;
    position:absolute;
    right:-52px;
    top:0;
    width:0;
    border-top:80px solid #072567;
    border-right:52px solid transparent;
}
.header .row-cen .title .title-right:before{
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    background: #3469BA;
    z-index: 99;
    bottom: 0;
    right: -1px;
}
.header .row-cen .title .title-right:after{
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #3469BA;
    z-index: 99;
    bottom: 0;
    right: -21px;
    transform: rotate(-54deg);
}
.header .row-cen .title:before{
    content: "";
    width: 1px;
    height: 100px;
    background: #103c86;
    position: absolute;
    left: 0;
    bottom: 0;
    left: -33px;
    bottom: 0;
    transform: rotate(-33deg);
    z-index: 9;
}
.header .row-cen .title:after{
    content: "";
    width: 1px;
    height: 100px;
    background: #103c86;
    position: absolute;
    right: 0;
    bottom: 0;
    right: -33px;
    bottom: 0;
    transform: rotate(33deg);
    z-index: 9;
}




.main{
    padding: 0 20px;
    width: 100%;
    height: calc(100% - 80px);
    display: block;
    overflow: hidden;
}
.main .main-left,.main .main-right{
    height: 100%;
    width: 22%;
    float: left;
    display: block;
}
.main .loncom-index-con{
    width: 100%;
    height: 190px;
    margin-top:10px;
}
.main .loncom-index-box-left{
    height: calc(50% - 135px);
}
.main .loncom-index-con-left,
.main .loncom-index-con-right{
    height: calc(100% - 50px);
}
.main .loncom-index-box-right{
    height: calc(100% - 485px);
}
.main .main-cen{
    width: 56%;
    height: 100%;
    float: left;
    padding: 0 20px;
}
.main .main-cen .cen-img{
    width: 100%;
    height: calc(100% - 165px);
    padding: 20px 0 10px 0;
    display: table;
}
.main .main-cen .cen-img .cen-img-con{
    display: table-cell;
    vertical-align: middle;
}
.main .main-cen .cen-img .cen-img-con img{
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}
.main .main-cen .cen-bottom{
    width: 100%;
    overflow: hidden;
}
.main .main-cen .cen-bottom ul{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main .main-cen .cen-bottom ul li{
    text-align: center;
    margin: 0 10px;
}
.main .main-cen .cen-bottom ul li img{
    height: 130px;
}
.main .main-cen .cen-bottom ul li div{
    color: #B1BFF5;
    height: 25px;
    line-height: 25px;
}
.main .loncom-index-gh-title{
    width: 100%;
    padding: 5px 20px 0;
    margin: 0;
}
.main .loncom-index-gh li{
    width: 100%;
    color: #0086FF;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
}
.main .loncom-index-gh li .name{
    width: 85px;
    text-indent: 10px;
    float: left;
    color: #B1BFF5;
}
.main .loncom-index-gh li .value{
    width: calc(100% - 85px);
    float: left;
}
.main .loncom-index-gh li .value span{
    width: 50px;
    text-indent: 5px;
    float:left;
}
.main .loncom-index-gh li .value .loncom-progress{
    width: calc(100% - 50px);
    height: 11px;
    background: #021645;
    float:left;
    margin-top: 12px;
}
.main .loncom-index-gh li .value .loncom-progress-con{
	height:100%;
    background: linear-gradient(to right,#008EFF 50%, transparent 0%);
    background-size: 4px 100%;
}
.main .loncom-index-gh li .value .loncom-progress em{
    width: 2px;
    height: 100%;
    background: #008EFF;
    margin: 0 1px;
    display: block;
    float: left;
}
.main .loncom-index-gh-title li .name{
    color: #0086FF;
}
.main .loncom-index-gh-title li .value{
    text-align: center;
}
.main .loncom-index-gh li:nth-of-type(2n){
    background: #000B2C;
}
.main .loncom-index-gh-con{
	height:calc(100% - 39px);
}
.main .loncom-boxpic{
    overflow: hidden;
    color: #5B6A93;
}
.main .loncom-boxpic li{
    width: 20%;
    text-align: center;
    float: left;
    font-size: 12px;
}
.main .loncom-boxpic li img{
	width: 30px;
	height: 30px;
}
.main .loncom-boxpic div{
    margin-top: 6px;
}
.main .loncom-alarmbox{
    color: #EC8603;
    font-size: 14px;
    height: 100%;
    line-height: 32px;
}
.main .loncom-alarmbox ul{
    margin: 5px 0 0 0;
}
.main .loncom-alarmbox ul li{
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main .loncom-alarmbox ul li span{
    float: right;
    color: #5B6A93;
}
.main .loncom-alarmbox ul li.loncom-pdlr20:nth-of-type(2n){
    background: #020B32;
}
.main .loncom-numbox{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 0;
    position: absolute;
}
.main .loncom-numbox ul{
    width: 100%;
    height: 100%;
}
.main .loncom-numbox ul li{
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 10px 0 0 10px;
    float: left;
}


.loncom-radar {
  position: relative;
  margin:0 auto;
}
.loncom-radar em{
    position: absolute;
    width: 5%;
    height: 5%;
    background: #026BCE;
    border-radius: 50%;
}
.loncom-radar em.one{
    top: 30%;
    left: 30%;
}
.loncom-radar em.two{
    top: 60%;
    left: 30%;
}
.loncom-radar em.active{
	background:#C7445A;
	animation: anm0 1.5s infinite ease-in-out 0s; 
}
@keyframes anm0 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.radar{
	width:100%;
	height:100%;
  	position: relative;
}
/* .loncom-radar:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: blips 5s infinite;
  animation-timing-function: linear;
  animation-delay: 1.4s;
} */
.loncom-radar:after {
  content: ' ';
  display: block;
  background-image: linear-gradient(45deg, rgba(0, 255, 51, 0) 50%, #026BCE 100%);
  width: 41%;
  height: 41%;
  position: absolute;
  top: 9%;
  left: 9%;
  animation: radar-beam 5s infinite;
  animation-timing-function: linear;
  transform-origin: bottom right;
  border-radius: 100% 0 0 0;
}

@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blips {
  
  26% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
  }
  100% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
  }
}































