@charset "utf8";
html,body,div,h2,ul,li,span,em,p,dl,dd,i,input, textarea, select, option,button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft Yahei";
}
html,body{
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: block;
  overflow: hidden;
  background: linear-gradient(to bottom, #000D49, #000000);
  font-family: "Microsoft Yahei" !important;
}
ul,li{
  list-style: none;
}
.loncom_content{
  width: 100%;
  height: 100%;
}
.loncom-pdlr20{
  padding: 0 20px 0 20px;
}
.loncom-pd20{
  padding: 20px;
}
.loncom-index-body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/homebg.png) no-repeat center 100px;
    background-size: contain;
}



.main{
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    color: #5B6A93;
}
.main .main-left,.main .main-right{
    height: 100%;
    width: 22%;
    float: left;
    display: block;
}
.loncom-index-box{
    margin-top: 10px;
}
.main .loncom-index-box-left{
    height: calc(52% - 15px);
}
.main .loncom-index-box-left1{
    height: calc(48% - 15px);
}

.number-box{
  color: #5B6A93;
  text-align: center;
}
.number-box .number{
  font-size: 40px;
  color: #fff;
}
.number-box .small-number{
  font-size: 28px;
  color: #fff;
}

.index-dl-radio{
    width: 100%;
    height: 100px;
    display: flex;
}
.index-dl-radio-con{
    width: 33.33%;
    height: 100%;
}
.main .main-cen{
    width: 56%;
    height: 100%;
    float: left;
    padding: 0 10px;
    color: #B1BFF5;
}
.main .main-cen .cen-top{
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.cen-top-number{
  width: 22%;
  padding-top: 10px;
}
.cen-top-number1{
  width: 56%;
  color: #5B6A93;
  text-align: center;
}
.cen-top-number1 .loncom-box-con{
  font-size: 40px;
  color: #fff;
}
.cen-top-number-more{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.cen-top-number-box{
  width: 46px;
  height: 58px;
  margin-left: 10px;
}
.cen-top-number-dot{
  width: 6px;
  position: relative;
}
.cen-top-number-dot .dot{
  width: 6px;
  height: 6px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cen-top-number-unit{
  width: 40px;
  height: 58px;
  position: relative;
  margin-left: 10px;
}
.cen-top-number-unit .unit{
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .main-cen .cen-img{
    width: 100%;
    height: calc(73% - 140px);
}
.main .main-cen .cen-bottom{
    width: 100%;
    height: 27%;
}

.main .main-cen .cen-img .cen-img-con{
    width: 100%;
    height: 100%;
    position: relative;
}
.main .main-cen .cen-img .cen-img-con img{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
}
.cen-bottom-number{
  width: 135px;
  height: 100%;
  display: table;
}
.cen-bottom-number-box{
  display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.cen-bottom-line{
  width: calc(100% - 135px);
  height: 100%;
}
.loncom-index-box-right{
    height: 30%;
}
.loncom-index-box-right1{
    height: 26%;
}
.loncom-index-box-right2{
    height: calc(44% - 40px);
}
.main .loncom-boxpic{
  overflow: hidden;
  color: #5B6A93;
}
.main .loncom-boxpic li{
  width: 20%;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .loncom-boxpic li img{
width: 30px;
height: 30px;
}
.main .loncom-boxpic div{
  margin-top: 6px;
}

.loncom-two-line{
  width: 100%;
  height: calc(100% - 38px);
}
.loncom-env-info{
  width: calc(100% - 30px);
  margin: 0 10px 0 20px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #292F50;
  display: flex;
}
.loncom-env-info-box:nth-of-type(1){
  border-right: 1px solid #292F50;
}
.loncom-env-info-box{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.loncom-gongl-info{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.swiper-container-box{
  padding: 10px 15px;
}
.swiper-pagination-box{
  width: 100%;
  height: 30px;
  line-height: 29px;
  border-bottom: 1px solid #282E50;
}
.swiper-pagination-box .swiper-pagination-bullet{
  opacity:1;
  margin-left: 10px;
  border-radius: inherit;
  color: #A3AFDB;
}
.swiper-pagination-box .swiper-pagination-bullet-active{
  border-bottom: 2px solid #4A78FF;
  color: #4A78FF;
}
.swiper-pagination-box .swiper-pagination-bullet{
  width: auto;
  height: auto;
  background: none;
}

.swiper-air-box{
  width: 100%;
  padding-top: 10px;
  height: auto;
  justify-content: initial;
}
.swiper-air-title{
  width: 15px;
  height: 100%;
  text-align: center;
  margin-right: 10px;
}
.swiper-air-con{
  display: flex;
  width: calc(100% - 25px);
  flex-wrap: wrap;
}
.swiper-air-con span{
  width: 14px;
  height: 14px;
  background: #4A78FF;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.swiper-air-con span.orange{
  background: #E79626;
}
.loncom-pd-info{
  width: 100%;
  height: 90px;
}
.loncom-pd-info-box{
  width: 33.33%;
  height: 100%;
}


.loncom-radar {
  position: relative;
  margin:0 auto;
}
.loncom-radar em{
    position: absolute;
    width: 5%;
    height: 5%;
    background: #026BCE;
    border-radius: 50%;
}
.loncom-radar em.one{
    top: 30%;
    left: 30%;
}
.loncom-radar em.two{
    top: 60%;
    left: 30%;
}
.loncom-radar em.active{
	background:#C7445A;
	animation: anm0 1.5s infinite ease-in-out 0s; 
}
@keyframes anm0 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.radar{
	width:100%;
	height:100%;
  	position: relative;
}

.loncom-radar:after {
  content: ' ';
  display: block;
  background-image: linear-gradient(45deg, rgba(0, 255, 51, 0) 50%, #026BCE 100%);
  width: 41%;
  height: 41%;
  position: absolute;
  top: 9%;
  left: 9%;
  animation: radar-beam 5s infinite;
  animation-timing-function: linear;
  transform-origin: bottom right;
  border-radius: 100% 0 0 0;
}

@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blips {
  
  26% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
  }
  100% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #026BCE 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
  }
}































